body{
  margin:0;
  padding: 0;
  width: auto;
}


.footer {
  background: #f1f1f1;
  padding: 10px 0;
  margin-top: 20px;
}

.hero {
  height: 100vh;
  background-image: url('..\images/page1.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar-expand-lg .navbar-collapse{
  justify-content: right;
}

.modal.open{display: block !important; background: rgba(0, 0, 0, 0.5);}

.modal .close {
  position: absolute;
  right: 11px;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 14px;
  border-color: red;
  color: red;
  background: #fff;
}